@media (min-width: 2560px) {
    :root {
        --padding-side: 500px;
    }
}

@media (max-width: 1024px) {
    :root {
        --padding-side: 64px;
    }

    .navigation ul {
        gap: 32px;
    }

    .hero {
        gap: 24px;
        padding: 100px var(--padding-side);
    }
}


@media (max-width: 768px) {
    :root {
        --padding-side: 24px;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 24px var(--padding-side);
    }

    .hamburger {
        display: flex;
    }

    .navigation ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background: var(--black);
        padding: 20px;
        border-radius: var(--radius-default);
    }

    .navigation ul.active {
        display: flex;
        margin-top: 10px;
    }

    .navigation {
        align-items: flex-start;
        gap: 10px;
    }


    .navigation .sign-up {
        display: none;
        flex-direction: column;
    }
}