@media (min-width: 2560px) {
    :root {
        --padding-side: 500px;
    }
}

@media (max-width: 1399px) {
    :root {
        --padding-side: 100px;
    }
}

@media (max-width: 1199px) {
    :root {
        --padding-side: 80px;
    }
}

@media (max-width: 991px) {
    :root {
        --padding-side: 20px;
    }


}

@media (max-width: 850px) {

    :root {
        --padding-side: 50px;
    }

    .navigation .desktop-menu,
    .desktop-sign-up,
    .navigation {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navigation .mobile-menu {
        display: none;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 32px;
        gap: 10px;
    }

    .mobile-menu li {
        margin-bottom: 32px;
    }

    .mobile-menu li a {
        font-size: 20px;
        font-weight: 400;
        color: var(--white);
        text-decoration: none;
        transition: color 0.3s;
    }

    .mobile-menu li a:hover {
        color: var(--primary-yellow);
    }

    .mobile-menu .mobile-sign-up {
        padding: 14px 32px;
        border: 2px solid var(--primary-yellow);
        background: transparent;
        color: var(--white);
        font-size: 20px;
        font-weight: 700;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }

    .mobile-menu .mobile-sign-up:hover {
        background: var(--primary-yellow);
        color: var(--black);
    }

    .navigation .mobile-menu.active {
        display: flex;
    }

    .countdown-container h3 {
        font-size: 20px;
    }

    .countdown {
        gap: 10px;
    }

    .time {
        width: 80px;
    }

    .time span {
        font-size: 50px;
        max-width: 70px;
    }

    .dot {
        font-size: 32px;
        width: auto;
        height: auto;
        line-height: 60px;
    }


    .top-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-section ul {
        display: none;
    }

    .social-links {
        margin-top: 16px;
    }

    .bottom-section {
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }

    .bottom-section .terms {
        flex-direction: column;
        gap: 8px;
    }
}


@media (max-width: 425px) {
    :root {
        --padding-side: 30px;
    }

    .header button {
        padding: 10px 15px;
        font-size: 14px;
    }

    .header p {
        font-size: 16px;
        letter-spacing: 0.02em;
    }

    .navigation .mobile-menu {
        gap: 5px;
    }

    .mobile-menu li a {
        font-size: 18px;
        font-weight: 400;
    }

    .mobile-menu .mobile-sign-up {
        padding: 10px 15px;
        border: 2px solid var(--primary-yellow);
        background: transparent;
        color: var(--white);
        font-size: 16px;
        font-weight: 400;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }

    .countdown {
        gap: 5px;
    }

    .countdown-container h3 {
        font-size: 18px;
    }

    .time {
        width: 60px;
    }

    .time p {
        font-size: 14px;
    }

    .time span {
        font-size: 24px;
    }

    .dot {
        font-size: 20px;
        line-height: 40px;
    }


    footer {
        padding: 60px var(--padding-side);
    }

    .top-section {
        gap: 10px;
    }

    .top-section .logo img {
        width: 120px;
    }

    .social-links button {
        width: 36px;
        height: 36px;
    }

    .social-links button img {
        width: 18px;
        height: 18px;
    }

    .bottom-section {
        gap: 5px;
        font-size: 14px;
    }

}