* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* === Reset / Base === */
:root {
    /* Colors */
    --primary-yellow: #EAC31B;
    --black: #0F0B0C;
    --gray-light: #DBDADB;
    --gray-medium: #B7B6B6;
    --gray-light: #f9f9f9;
    --white: #FFF;

    /* Fonts */
    --font-main: 'Montserrat', sans-serif;
    --font-alt: 'Manrope', sans-serif;
    --font-small: 'Inter', sans-serif;

    /* Transitions */
    --classic-transition: 0.3s ease-in-out;

    /* Padding side */
    --padding-side-main: 135px;
    --padding-side-small: 300px;
}

html,
body {
    font-family: var(--font-main);
    scroll-behavior: smooth;
    min-height: 100vh;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}


/* === Header === */
.header {
    background: url("../assets/bg-images/bg-hero.png") no-repeat center center/cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-side-main);
}


.header .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 120px 0;
}

.header .hero img {
    width: 100%;
}

.header .sign-up {
    padding: 10px 20px;
    border: none;
    background: var(--primary-yellow);
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.header .sign-up:hover {
    transition: var(--classic-transition);
    box-shadow: 0px 0px 14px 0 rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.header p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.02em;
}

.header p strong {
    color: var(--primary-yellow);
    font-size: 24px;
}

.header p::before {
    content: url("../assets/star.svg");
    position: absolute;
    margin-left: -15px;
    margin-top: -5px;
}

/* === Countdown === */
.countdown-container {
    background: var(--gray-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 46px var(--padding-side-main);
    gap: 16px;
}

.countdown-container h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

.countdown {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.time {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.time span {
    font-size: 70px;
    font-weight: 700;
    color: var(--primary-yellow);
    text-align: center;
    letter-spacing: -0.01em;
    font-variant-numeric: tabular-nums;
}

.dot {
    font-size: 44px;
    text-align: center;
    color: #D9D9D9;
    font-weight: bold;
    line-height: 85px;
    width: 20px;
    height: 86px;
}

.countdown-block p {
    width: 100px;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

/* === About === */
.about-the-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px var(--padding-side-small);
    gap: 50px;
    background-color: var(--white);
}

.about-the-event .top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.top-container h2 {
    color: var(--primary-yellow);
    font-size: 46px;
    font-weight: 700;
}

.top-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}

.bottom-container {
    position: relative;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    z-index: 10;
    margin-bottom: -200px;
    box-shadow:
        -40px 40px 200px 0px rgba(234, 195, 27, 0.2),
        40px 40px 200px rgba(10, 120, 255, 0.2);
}

.video-link-wrapper {
    display: flex;
    background: url("../assets/bg-video.svg") no-repeat center center/cover;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    text-decoration: none;
}

.video-link-wrapper .overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.video-link-wrapper .video-text {
    width: 100%;
    color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video-text small {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.video-text p {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.overlay .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 75px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-yellow);
    border-radius: 9px;
}

.play-button img {
    margin-left: 2px;
    width: 18px;
    height: auto;
}


/* === Content === */
.info {
    background: url("../assets/bg-images/BG-Glow-effect.png") no-repeat center center/cover;
    color: var(--white);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px var(--padding-side-main) 80px var(--padding-side-main);
}

.info .left-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}


.left-container h2 {
    width: 100%;
    color: var(--white);
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 110.00000000000001%;
}

.left-container h2 span {
    color: var(--primary-yellow);
}

.left-container p {
    font-family: var(--font-alt);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.info .right-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



/* === What to expect === */
.what-to-expect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px var(--padding-side-main);
    background-color: var(--white);
    gap: 60px;
}

.what-to-expect-box {
    padding: 50px 0
}

.what-to-expect-box:nth-child(2) {
    position: relative;
}

.what-to-expect-box:nth-child(2)::before,
.what-to-expect-box:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: var(--gray-light);

}

.what-to-expect-box:nth-child(2)::before {
    left: -50px;
    transform: skewX(-20deg);
    transform-origin: center left;
}

.what-to-expect-box:nth-child(2)::after {
    right: -20px;
    transform: skewX(-20deg);
    transform-origin: center right;
}

.what-to-expect-box h2 {
    font-size: 46px;
    font-weight: 800;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: var(--primary-yellow);
}

.what-to-expect-box .bold {
    font-size: 20px;
    font-weight: 500px;
    line-height: 110%;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    color: #191C1D;
}

.what-to-expect-box .text {
    font-family: var(--font-small);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    color: #0F0B0C
}


/* === Companies and Departments === */

.companies-and-departments {
    padding: 80px var(--padding-side-small);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: var(--black);
}

.companies-and-departments .title {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.02em;
}

.stats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.stat-box h3 {
    font-size: 56px;
    font-weight: 800;
    line-height: 110.00000000000001%;
    color: var(--primary-yellow);
}

.stat-box span {
    color: var(--white)
}

.stat-box p {
    font-family: var(--font-small);
    font-size: 16px;
    font-weight: 200;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #191C1D;
    color: var(--white);
}

/* === Tranport info === */

.transport-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px var(--padding-side-main) 20px var(--padding-side-main);
    padding: 0 0 135px 0;
    background: var(--white);
    gap: 40px;
    background: url("../assets/train.svg") no-repeat center center/contain;
}

.transport-text h3 {
    font-size: 46px;
    font-weight: 800;
    line-height: 110.00000000000001%;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

.transport-text h3 .highlight-black {
    color: var(--black);
}

.transport-text h3 .highlight-yellow {
    color: var(--primary-yellow);
}

.transport-text {
    width: 60%;
}

.transport-text p {
    font-family: var(--font-small);
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    letter-spacing: 0;
    color: var(--black)
}

/* === Bus schedule === */
.bus-schedule {
    background: url("../assets/bg-images/BG-bus-schedule.png") no-repeat center center/cover;
    color: var(--white);
    width: 100%;
    padding: 80px var(--padding-side-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.bus-schedule .tables {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.bus-schedule p {
    font-family: var(--font-small);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0;
    width: 50%;
    align-self: flex-start;
}

.bus-schedule p a {
    color: var(--primary-yellow);
    text-decoration: underline;
}

.line-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.table-wrapper {
    overflow-x: auto;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    min-width: 300px;
}

.table-wrapper thead {
    background-color: transparent;
}

.table-wrapper th,
.table-wrapper td {
    padding: 12px 16px;
    text-align: center;
    border-left: 2px solid var(--primary-yellow);
}

.table-wrapper th:first-child,
.table-wrapper td:first-child {
    border-left: none;
}

.table-wrapper td {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    background-color: #685512;
}

.table-wrapper tr:nth-child(even) td {
    background-color: #40340f;

}

.tables .line-group h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 110.00000000000001%;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.line-group .table-wrapper {
    border: 2px solid var(--primary-yellow);
    border-radius: 10px;
}

.table-wrapper th {
    font-size: 24px;
    font-weight: 700;
    line-height: 110.00000000000001%;
    letter-spacing: 0.02em;
    text-align: start;
    padding: 15px;
    color: var(--primary-yellow)
}

.table-wrapper th small {
    font-size: 18px;
    font-weight: 400;
    line-height: 110.00000000000001%;
    letter-spacing: 0.02em;
}

.table-wrapper th span {
    color: var(--white);
}




/* === Gallery === */
.gallery {
    background: url("../assets/bg-images/bg-gallery.png") no-repeat center center/cover;
    color: var(--white);
    padding: 80px var(--padding-side-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.gallery .text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 530px;
    gap: 16px;
}

.gallery h2 {
    color: var(--gray-light);
    font-size: 46px;
    font-weight: 800;
    line-height: 110.00000000000001%;
    letter-spacing: 0.02em;
    text-align: center;
}

.gallery p {
    color: var(--gray-light);
    text-align: center;
}

.gallery .masonry {
    columns: 4;
    gap: 30px;
}

.masonry img {
    width: 100%;
    margin-bottom: 30px;
}


/* === Join Us === */

.join-us {
    padding: 60px var(--padding-side-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-container {
    background: var(--black);
    border-radius: 16px;
    padding: 56px;
    box-shadow:
        -100px 0px 200px 35px rgba(234, 195, 27, 0.4),
        /* yellow glow */
        100px 0 200px 35px rgba(10, 120, 255, 0.4);
    /* blue glow */
    ;
}

.box-container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    max-width: 60%;

}

.box-container h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 110.00000000000001%;
}

.box-container button {
    font-family: var(--font-alt);
    background: var(--primary-yellow);
    ;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    transition: var(--classic-transition);
}

.box-container button:hover {
    transition: var(--classic-transition);
    box-shadow: 0px 0px 14px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
}


/* === Partners === */

.partners-container {
    padding: 80px var(--padding-side-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.partners-container .partners-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 530px;
    gap: 16px;
}

.partners-header h2 {
    font-size: 46px;
    font-weight: 800;
    line-height: 110.00000000000001%;
    letter-spacing: 0.02em;
    text-align: center;
}

.partners-header p {
    text-align: center;
}

.partners-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: center;
}

.partner-item {
    width: 100%;
    height: 100px;
    background-color: #ddd;
    border-radius: 6px;
}


/* === Footer === */
footer {
    background: url("../assets/bg-images/bg-footer.png") no-repeat center center/cover;
    padding: 80px var(--padding-side-main);
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #6F6D6D;
}

.top-section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style: none;
    padding: 2px 0;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-links a {
    width: 42px;
    height: 42px;
    border: 2px solid var(--primary-yellow);
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
}

.social-links a:hover {
    background: var(--primary-yellow);
}

.social-links img,
.social-links svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    fill: white;
}

/* Optional: style only inline SVGs */
.social-links svg {
    fill: var(--white);
    transition: fill 0.3s ease-in-out;
}





.bottom-section {
    color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-section .terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}